@import "tailwindcss";
@plugin "tailwind-scrollbar" {
  nocompatible: true;
  preferredStrategy: 'pseudoelements';
}

@layer base {
  div, span, h1, h2, h3, h4, h5, p {
    color: #fff;
    font-family: Roboto, sans-serif;
  }

  header {
    height: var(--header-height);
  }

  main {
    @apply p-2.5 md:p-5;
    min-height: calc(100dvh - var(--header-height));
  }
}

@utility thp-scrollbar {
  @apply scrollbar-thin scrollbar-thumb-gray-500 scrollbar-thumb-rounded-full scrollbar-track-[transparent];

  /* Styling the scrollbar in Safari */
  &::-webkit-scrollbar {
    width: 6px;
  }
}

@layer components {
  /* small helper for the multi-part box-shadow */
  .loader-shadow {
    box-shadow: 32px 0 #fff, -32px 0 #fff;
  }
}

@theme {
  --header-height: 60px;

  --color-primary: #16BDF9;
  --color-secondary: #1B222C;
  --color-dark: #0A0E17;
  --color-white: #FFF;
  --color-gray-light: #BECDE3;
  --color-gray: #26303A;

  --color-error: #DE3F3F;
  --color-error-secondary: #772525;
  --color-success: #7ED887;
  --color-success-secondary: #192B1B;
  --color-warning: #EFA420;
  --color-warning-secondary: #753712;
  --color-info: #094C64;
  --color-info-secondary: #A2E5FD;

  --animate-flash: flash 0.5s ease-out infinite alternate;

  @keyframes flash {
    0% {
      background-color: #FFF2;
      box-shadow: 32px 0 #FFF2, -32px 0 #FFF;
    }
    50% {
      background-color: #FFF;
      box-shadow: 32px 0 #FFF2, -32px 0 #FFF2;
    }
    100% {
      background-color: #FFF2;
      box-shadow: 32px 0 #FFF, -32px 0 #FFF2;
    }
  }

}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.cl-formButtonPrimary {
  font-size: 14px;
  text-transform: none;
  background-color: var(--color-primary);

  & > span {
    color: var(--color-dark);
  }
}

.cl-formButtonPrimary:focus,
.cl-formButtonPrimary:hover,
.cl-formButtonPrimary:active {
  background-color: var(--color-primary);
  filter: brightness(1.1);
}


